root = true

[*]
indent_style = space
indent_size = 2
charset=utf-8
trim_trailing_whitespace=true
insert_final_newline=true

[*.{js, css}]
end_of_line=lf
curly_bracket_next_line=true

[*.min.*]
indent_style = ignore
trim_trailing_whitespace = false
insert_final_newline = ignore